<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--用户数据部分-->
<div class="bottom_" th:fragment="user_data_page">
    <div class="bottom_header">
        <h2>该农户自己的相关数据</h2>
        <div class="picture">
            <!--                    <img th:src="@{}">-->
        </div>
    </div>
    <div class="bottom_header">
        <h2>往年同时期病虫害发生数据图</h2>
        <div class="picture">
            <!--                    <img th:src="@{}">-->
        </div>
    </div>
    <div class="bottom_last">
        <h2>数据展示图</h2>
    </div>
</div>
</html>