.navbar {
    width: 100%;
    height: 5rem;
    background-color: #567086;
    margin: auto;
}

.container {
    width: 95%;
    height: 5rem;
    margin: auto;
}

.top-button {
    flex-direction: row;
}