<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--导航栏-->
<div class="navbar navbar-inverse" th:fragment="navbar">
    <div class="container">
        <ul class="top-button">
            <li>
                <a href="">
                    农业病虫害资讯
                </a>
            </li>
            <li>
                <a href="">
                    病虫害识别
                </a>
            </li>
            <li>
                <a href="">
                    。。。。。
                </a>
            </li>
            <li>
                <a href="">
                    账户管理
                </a>
            </li>
            <li>
                <a href="">
                    系统设置
                </a>
            </li>
            <li>
                <a href="">
                    退出登陆
                </a>
            </li>

        </ul>
    </div>
</div>

<!--底部-->
<div class="bottom" th:fragment="bottom">

</div>
</html>
