<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Edible Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link th:href="@{/css/bootstrap.css}" th:rel='stylesheet' type='text/css' />
<!-- //bootstrap-css -->
<!-- css -->
<link th:href="@{/css/style.css}" th:rel='stylesheet' type='text/css' />
<!-- //css -->
<!-- fonts -->
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //fonts -->
<!-- js -->
<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/js/modernizr.custom.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<!-- //js -->	
<!-- start-smoth-scrolling-->
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smoth-scrolling-->
</head>
<body>
	<!--baner-->
	<div class="banner">
		<!-- container -->
		<div class="container">
			<div class="banner-top">
				<div class="social" th:if="${session.loginUser==null}">
					<a th:href="@{/Public_page/signin}">登 陆</a>
				</div>
				<div class="social" th:if="${session.loginUser!=null}">
					<a th:href="@{/logout}">注销</a>
				</div>
				<div class="header-top-right">
					<form action="">
						<input type="text" placeholder="了解资讯" required="">
						<input type="submit" value="">
						<div class="clearfix"> </div>
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="banner-top-grid">
				<script th:src="@{/js/responsiveslides.min.js}"></script>
				<div  id="top" class="callbacks_container-wrap">
					<ul class="rslides" id="slider3">
						<li>
							<div class="banner-info">
								<h3> 农业病虫害防治系统 </h3>
								<h5> agricultural pest control system </h5>
								<p> 农业病虫害是严重威胁农业生产安全、人民身体健康和环境安全的有害生物，主要包括害虫、细菌性病害、真菌性病害、病毒病、线虫病以及各种杂草等等。它不但造成农业减产甚至绝收，造成产品品质下降
									失去商品性。更会造成农民收入降低，甚至威胁到生命安全。所以，科学高效的防治病虫害已经成为农业生产过程中最为重要的环节。本系统将会为你及时提供全面、有效的农业病虫害防治相关资讯，系统还提供
									高精度病虫害识别功能，帮助您精准的定位病虫害类型，同时根据识别结果给出科学有效的防治方法。本系统将为您的农作物保驾护航！
								</p>
								<div class="banner-buttons">
									<div class="banner-button white-button">
										<a href="#">系统介绍</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
		<!-- //container -->
	</div>
	<!--//baner-->
	<div class="top-nav">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
						<ul class="nav navbar-nav navbar-center">
							<li>
								<a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">农作物种类<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a th:href="@{/}">棉花</a></li>
									<li><a th:href="@{/}">葡萄</a></li>
									<li><a th:href="@{/}">小麦</a></li>
								</ul>
							</li>
						</ul>
<!--						<h1><a href="index.html">Edible</a></h1>-->
					</div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-center">
						<li><a th:href="@{/index}" class="active">农业资讯</a></li>
						<li><a th:href="@{/Private_page/contact}">病虫害识别</a></li>
						<li><a th:href="@{/Private_page/codes}">病虫害数据统计</a></li>
						<li><a th:href="@{/Private_page/about}" >社区</a></li>
						<li><a th:href="@{/Private_page/gallery}" class="dropdown-toggle hvr-bounce-to-bottom">Gallery</a></li>
						<li><a th:href="@{/Private_page/about}">设置</a></li>
					</ul>	
					<div class="clearfix"> </div>
				</div>
			</div>	
		</nav>		
	</div>	
	<!-- script-for sticky-nav -->
			<script>
			$(document).ready(function() {
				 var navoffeset=$(".top-nav").offset().top;
				 $(window).scroll(function(){
					var scrollpos=$(window).scrollTop(); 
					if(scrollpos >=navoffeset){
						$(".top-nav").addClass("fixed");
					}else{
						$(".top-nav").removeClass("fixed");
					}
				 });
				 
			});
			</script>
			<!-- /script-for sticky-nav -->
	<!--navigation-->
	<!-- banner-bottom -->
	<div class="welcome">
		<div class="welcome-left">
			<h3></h3>
			<h4></h4>
			<p>
			</p>
		</div>
		<div class="welcome-right">
			<ul id="banner" class="shuffling"></ul>
			<ul><a href=""></a></ul>
		</div>
		<div class="clearfix"> </div>
	</div>
<!--	轮播图js-->
	<script type="text/javascript" th:inline="javascript">
		window.onload = function (){

			let timer = setInterval(get_next,3000)
			let sz = new Array();
			let szdiv = new Array();
			var cur_ul = document.getElementById("banner");
			for (let i = 1 ; i<=5;i++){
				var cur_li = document.createElement("li");
				var cur_img = document.createElement("img");

				cur_img.src = "images/" + i +".jpg";
				cur_img.style.width = "400px";
				cur_img.style.height = "250px";
				cur_li.appendChild(cur_img);

				cur_li.onmouseenter = function (){
					clearInterval(timer);
				}
				cur_li.onmouseleave =function (){
					timer = setInterval(get_next,3000)
				}

				if (i!=5){
					cur_li.id = 5-i;
				}
				else {
					cur_li.id = 5;
				}

				cur_ul.appendChild(cur_li)
				sz.push(cur_li);
				sz[sz.length-1].style.left = "0px";

				let bottom_div = document.createElement("div");
				bottom_div.style.left = 125*i+"px";
				bottom_div.name = i;
				szdiv.push(bottom_div)
				cur_ul.appendChild(bottom_div);
			}

			let pre_img = document.createElement("img")
			pre_img.src = "images/prev.png";
			pre_img.style.position = "absolute";
			pre_img.style.left = "0";
			pre_img.style.top = "190px";
			pre_img.style.bottom = "0";
			pre_img.style.margin = "auto";
			pre_img.style.zIndex = 100;
			cur_ul.appendChild(pre_img);

			let nex_img = document.createElement("img")
			nex_img.src = "images/next.png";
			nex_img.style.position = "absolute";
			nex_img.style.right = "0";
			nex_img.style.top = "190px";
			nex_img.style.bottom = "0";
			nex_img.style.margin = "auto";
			nex_img.style.zIndex = 100;
			cur_ul.appendChild(nex_img);

			pre_img.onclick = function (){
				clearInterval(timer);
				get_pre();
				timer=setInterval(get_next, 3000)
			}

			nex_img.onclick = function (){
				clearInterval(timer);
				get_next();
				timer=setInterval(get_next, 3000)
			}

			let len = sz.length - 1;
			sz[len-2].style.left = "0px";
			sz[len-1].style.zIndex = 100;
			sz[len-1].style.left = "200px";
			sz[len-1].style.transform = "scale(1.3)";
			sz[len].style.left = "400px";

			szdiv[0].style.background = "#100f10"

			for (let i = 0;i < szdiv.length;i++){
				szdiv[i].onmouseenter() = function (){
					clearInterval(timer);
					let len1 = sz[len - 1].id;
					let len2 = szdiv[i].name;
					let dis = Math.max(len1,len2)-Math.min(len1.len2);
					if (len1>len2){
						while (dis--)
							get_pre()
					}else {
						while (dis--)
							get_next()
					}
					timer = setInterval(get_next,3000)
				}
			}


			function get_pre(){
				let give_up = sz[0];
				sz.shift()
				sz.push(give_up)
				for (let i = 0; i <sz.length;i++){
					sz[i].style.zIndex = i;
					sz[i].style.transform = "scale(1)"

				}
				sz[len-2].style.left = "0px";
				sz[len-1].style.zIndex = 100
				sz[len-1].style.left = "200px";
				sz[len-1].style.transform = "scale(1.3)"
				sz[len-1].style.opacity = 1;
				sz[len].style.left = "400px";
				sync_szdiv()
			}

			function get_next(){
				let give_up = sz[len];
				sz.pop()
				sz.unshift(give_up)
				for (let i = 0; i <sz.length;i++){
					sz[i].style.zIndex = i;
					sz[i].style.transform = "scale(1)"

				}
				sz[len-2].style.left = "0px";
				sz[len-1].style.zIndex = 100
				sz[len-1].style.left = "200px";
				sz[len-1].style.transform = "scale(1.3)"
				sz[len-1].style.opacity = 1;
				sz[len].style.left = "400px";
				sync_szdiv()
			}

			function sync_szdiv(){
				for (let i = 0;i<szdiv.length;i++){
					if (szdiv[i].name==sz[len-1].id)
						szdiv[i].style.background = "#100f10"
					else
						szdiv[i].style.background = "white"
				}
			}
		}
	</script>


	<!-- offer -->
	<div class="welcome offer" shiro:hasPermission="user:add">
		<div class="welcome-left offer-left">
			<h3>What we offer</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate sem vitae tortor venenatis 
				elementum. Suspendisse Pellentesque dignissim sagittis pharetra. Nulla blandit ac nibh rutrum tincidunt. Suspendisse imperdiet velit fermentum mauris arcu, eu hendrerit felis gravida at. Pellentesque habitant morbi 
				tristique senectus et netus et malesuada fames ac turpis egestas.
			</p>
			<div class="offer-left-list">
				<ul>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
					<li><a href="#">Morbi mollis nunc id lacus</a></li>
					<li><a href="#">Proin ac ipsum mattis tincidun</a></li>
					<li><a href="#">Nulla magna venenatis lobortis</a></li>
				</ul>
			</div>
			<div class="offer-left-list">
				<ul>
					<li><a href="#">Morbi mollis nunc id lacus</a></li>
					<li><a href="#">Proin ac ipsum mattis tincidun</a></li>
					<li><a href="#">Nulla magna venenatis lobortis</a></li>
					<li><a href="#">Class aptent taciti sociosqu</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="welcome-right offer-right">
			
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //offer -->
	<!-- new -->
	<div class="welcome new">
		<div class="welcome-left new-left">
			<h3>What's New</h3>
			<div class="new-grids">
				<div class="date">
					<p>23</p>
					<span>June</span>
				</div>
				<div class="new-grid-right">
					<p>Lorem ipsum dolor sit amet, consec tetuer adi piscing elit. Praesent vestibulum molestie 
					lacus. Aenean nonummy hendrerit mauris consec tetuer adi piscing elit. Praesent vestibulum 
					molestie lacus.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="new-grids">
				<div class="date">
					<p>09</p>
					<span>May</span>
				</div>
				<div class="new-grid-right">
					<p>Lorem ipsum dolor sit amet, consec tetuer adi piscing elit. Praesent vestibulum molestie 
					lacus. Aenean nonummy hendrerit mauris consec tetuer adi piscing elit. Praesent vestibulum 
					molestie lacus.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="welcome-right new-right">
			
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //new -->
	<!-- services -->
	<div id="services" class="services">
		<!-- container -->
		<div class="container">
			<div class="services-info">
				<h3>Services</h3>
			</div>
			<div class="services-grids">
				<div class="col-md-4 services-grid">
					<div class="services-icon">
						<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
					</div>
					<h4>Duis eu malesuada erat lacinia lacus</h4>
					<p>Quisque ac sem vitae mauris lacinia hendrerit nec in risus. Vivamus sit amet dignissim ex, eu vulputate velit. Sed in viverra lacus</p>
				</div>
				<div class="col-md-4 services-grid">
					<div class="services-icon">
						<span class="glyphicon glyphicon-asterisk glyphicon-check" aria-hidden="true"></span>
					</div>
					<h4>Duis eu malesuada erat lacinia lacus</h4>
					<p>Quisque ac sem vitae mauris lacinia hendrerit nec in risus. Vivamus sit amet dignissim ex, eu vulputate velit. Sed in viverra lacus</p>
				</div>
				<div class="col-md-4 services-grid">
					<div class="services-icon">
						<span class="glyphicon glyphicon-asterisk glyphicon-time" aria-hidden="true"></span>
					</div>
					<h4>Duis eu malesuada erat lacinia lacus</h4>
					<p>Quisque ac sem vitae mauris lacinia hendrerit nec in risus. Vivamus sit amet dignissim ex, eu vulputate velit. Sed in viverra lacus</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- services -->
	<!-- new-bottom -->
	<div class="new-bottom">
		<!-- container -->
		<div class="container">
			<div class="new-bottom-info">
				<h2>Be the leader in the industry!</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vesbulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui.</p>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //new-bottom -->
	<!-- footer -->
	<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-4 footer-grid">
					<div class="footer-grid-info">
						<h3>Popular</h3>
					</div>
					<div class="footer-grid-list">
						<ul>
							<li><a href="#">Proin placerat ipsum et rutrum</a></li>
							<li><a href="#">Vestibulum et ligula lectus	</a></li>
							<li><a href="#">Praesent in augue ut purus</a></li>
							<li><a href="#">Proin semper ut ligula sit amet</a></li>
							<li><a href="#">Vestibulum hendrerit lacus ut mi</a></li>
							<li><a href="#">Fusce sollicitudin nunc est</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 footer-grid">
					<div class="footer-grid-info">
						<h3>Address</h3>
					</div>
					<div class="footer-grid-list">
						<h4>Headquarters</h4>
						<p>123 T. Globel Place.
							<span>CG 09-123</span>
							New York, Ba. 4567
						</p>
						<h4>Get In Touch</h4>
						<p>Telephone : +1 234 567 9871
							<span>FAX : +1 234 567 9871</span>
							E-mail : <a href="mailto:info@example.com">mail@example.com</a>
						</p>
					</div>
				</div>
				<div class="col-md-4 footer-grid">
					<div class="footer-grid-info">
						<h3>Stay in touch</h3>
					</div>
					<div class="footer-grid-list">
						<form>
							<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
							<input type="submit" value="Subscribe">
						</form>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- container -->
	</div>
	 //footer
	 copyright
	<div th:replace="~{commons/commons::bottom}"></div>
	<!-- //copyright -->
</body>
</html>